// This scss file is associatied witht eh test.js component. All styles in this section should be relative to this component only.

// Imports the global colors
@import './_colors.scss';


// Imports the global fonts
@import url('https://fonts.googleapis.com/css?family=Dosis:800|Montserrat:400,900|Overpass:400,900|Rubik+Mono+One|Rubik:400,900');

// font family variables
$rubik: 'Rubik', sans-serif;
$rubik-mono: 'Rubik Mono One', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$overpass: 'Overpass', sans-serif;
$dosis: 'Dosis', sans-serif;

// Function that maps throught the global color object to make the color designation simpler below.
@function color($color-name) {
    @return map-get($colors, $color-name)
};

// mixin desktop variable
$desktop: 815px;
$iphoneSix: 667px;
// mixin function for desktop
@mixin desktop {
    @media screen and (min-width: #{$desktop}) {
        @content;
    }
}
@mixin iphoneSix {
    @media screen and (min-width: #{$iphoneSix}) {
        @content;
    }
}

// Component styles start here. Note, the body element is only there as an example of how to nest using scss
body {
    background: color(gradient-bg);
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    
// be as specific as possible when styling elemets.  The below uses tag and the id. This will avoide shadowing.
div.body-box {

    position: relative;
    background: color(primary-light);
    padding: .5em;
    margin: 12% auto 0 auto;
    width: fit-content; 
    display: grid;
    border-radius: 1em;
    -webkit-box-shadow: 0px 4px 36px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 4px 36px -5px rgba(0,0,0,1);
    box-shadow: 0px 4px 36px -5px rgba(0,0,0,1);
    transition: 1s;

    @include desktop {
        margin-top: 15%;
    }

        p#comp-identifier {
            text-align: left;
            font-style: italic;
            font-size: 15px;
            color: color(accent);
            font-family: fonts(rubik);
        }
        h1#header {
            color: color(accent);
            text-align: center;
            font-family: $rubik;
            font-weight: bolder;
            }
        p {
            color: color(text-p-color);
            text-align: center;
            margin: auto .5em auto .5em;
            //defines the font family for all <p> tags
            font-family: $montserrat;
        }
        p#p-specific {
            margin: .2em auto 1em auto;
        }
    }
}